name: Build with Maven

on:
  push:
    branches:
      - main
      - feature/**

jobs:
  build-on-unix:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Build project
        run: mvn $MAVEN_CLI_OPTS verify -Pcoverage
        env:
          MAVEN_CLI_OPTS: ${{ vars.MAVEN_CLI_OPTS }}

      - name: Release Dry Run
        run: mvn $MAVEN_CLI_OPTS -X deploy -Dmaven.test.skip=true -Prelease-dry-run
        env:
          MAVEN_CLI_OPTS: ${{ vars.MAVEN_CLI_OPTS }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

  build-on-windows:
    runs-on: windows-latest

    steps:
      - name: Support longpaths
        run: git config --system core.longpaths true

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Build project
        shell: bash
        run: |
          mvn $MAVEN_CLI_OPTS verify -Pcoverage
        env:
          MAVEN_CLI_OPTS: ${{ vars.MAVEN_CLI_OPTS }}