name: Release to Maven Central

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Display tag info
        run: |
          echo "Tag created : ${{ github.ref }}"
          echo "Tage name : ${{ github.ref_name }}"

      - name: Publish to Apache Maven Central
        run: mvn $MAVEN_CLI_OPTS deploy -Prelease -Dmaven.test.skip=true -Dmaven.install.skip=true
        env:
          MAVEN_CLI_OPTS: ${{ vars.MAVEN_CLI_OPTS }}
          MAVEN_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.NEXUS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

  github-release:
    name: Create Github Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Generate release changelog
        id: release-changelog
        uses: janheinrichmerker/action-github-changelog-generator@v2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: comnoco/create-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GIT_PUSH_AND_TAG }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{ steps.release-changelog.outputs.changelog }}
          draft: false
          prerelease: false

      - name: Create Release
        uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GIT_PUSH_AND_TAG }}