name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Display tag info
        run: |
          echo "Tag créé : ${{ github.ref }}"
          echo "Nom du tag : ${{ github.ref_name }}"

      - name: Publish to Apache Maven Central
        run: mvn $MAVEN_CLI_OPTS deploy -Prelease -Dmaven.test.skip=true
        env:
          MAVEN_CLI_OPTS: ${{ env.MAVEN_CLI_OPTS }}
          MAVEN_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.NEXUS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}